name = "bsv-mpc-kss"
main = "build/worker/shim.mjs"
compatibility_date = "2024-12-01"
account_id = "<your-cloudflare-account-id>"

[build]
command = "worker-build --release"

[[durable_objects.bindings]]
name = "MPC_STORAGE"
class_name = "MpcStorage"

[[migrations]]
tag = "v1"
new_classes = ["MpcStorage"]
